.about-program {
  margin-bottom: 65px;
  padding-bottom: 7%;
  background: url("../img/about-program-bg.png") no-repeat center bottom;
  background-size: 100% auto;

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../img/about-program-bg2x.png");
  }
}

.about-program__img {
  position: relative;
}

.about-program h2 {
  width: 330px;
  margin: 0 auto 24px;
}

.about-program p {
  width: 720px;
  margin: 0 auto 52px;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 170%;
  color: $black;
  text-align: center;
}

.about-program__img img {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.about-program__img svg {
  content: "";
  position: absolute;
  top: 37%;
  left: 50%;
  margin-left: -48px;
  fill: #fff;
  cursor: pointer;

  &:active {
    opacity: .5;
  }
}

@media(max-width: $tablet-width-max) {
  .about-program__wrapper {
    padding: 48px 124px 96px 124px;
  }

  .about-program h2 {
    width: 247px;
  }

  .about-program__img svg {
    top: 35%;
  }
}

@media(max-width: $mobile-width-max) {
  .about-program {
    width: 100%;
    background-size: 420px 186px;
    background-position: center;
    overflow: hidden;
    padding-bottom: 0;
  }

  .about-program h2 {
    width: 288px;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.02em;
  }

  .about-program p {
    width: 100%;
    padding: 0 5vw;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    text-align: left;
    margin-bottom: 55px;
  }

  .about-program img {
    width: 100%;
  }

  .about-program__img svg {
    width: 80px;
    height: 80px;
    top: 44px;
    left: 50%;
    margin-left: -40px;
  }
}
