.comments {
  background: url("../img/comments-bg.png") no-repeat 77px 21px;
  position: relative;
  background-size: 100% auto;
  margin-bottom: 101px;

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../img/comments-bg2x.png");
  }

  &::after {
    content: "";
    width: 535px;
    height: 318px;
    position: absolute;
    right: 0;
    top: 0;
    background: url("../img/comments-2bg.png") no-repeat 12px 58px;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/comments-2bg2x.png");
    }
  }
}

.comments__container {
  display: flex;
  flex-wrap: wrap;
}

.comments__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.comments__btn-prev,
.comments__btn-next {
  width: 15px;
  height: 19px;
  position: absolute;
  top: 484px;
  outline: none;

  &::after {
    content: '';
  }
}

.comments__btn-prev {
  left: 560px;
  background: url("../img/arrow-left.svg") no-repeat 0 0;
}

.comments__btn-next {
  left: 588px;
  background: url("../img/arrow-right.svg") no-repeat 0 0;
}

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {

  .comments__btn-prev,
  .comments__btn-next {
    top: 462px;
  }
}

.comments__pagination {
  width: auto;
  text-align-last: left;
  bottom: 9px;
  left: 503px;
  font-size: 17px;
  line-height: 150%;
  color: $black;
  opacity: 0.5;
}

.comments__item_wrapper {
  width: 680px;
  margin: 0 0 0 38px;
  padding-top: 43px;
  box-sizing: border-box;
  position: relative;
}

.comments h2 {
  width: 100%;
  margin: 0 0 5px;
  letter-spacing: -0.02em;
  text-align: center;
}

.comments__item img {
  object-fit: contain;
  padding: 4px 0 0 17px;
}

.comments__item_wrapper b {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  opacity: 0.74;
}

.comments__user-program_name {
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
  color: $blue;
  margin-right: 4px;
}

.comments__user-program {
  font-size: 15px;
  line-height: 140%;
  opacity: 0.74;
  margin: 9px 0 32px;
}

.comments__user-program span {
  color: $blue;
  margin-right: 6px;
}

.comments__user-text {
  font-size: 17px;
  line-height: 170%;
  opacity: 0.74;
  margin-bottom: 20px;
}

.comments__more {
  display: block;
  font-size: 17px;
  line-height: 150%;
  text-decoration-line: underline;
  color: $blue;
}

.comments__social {
  width: 106px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  position: absolute;
  bottom: 2px;
  right: -3px;
}

.comments__social li {
  margin-right: 16px;

  &:nth-of-type(3n) {
    margin: 0;
  }
}

.comments__social-btn {
  vertical-align: middle;
  opacity: .3;

  &:hover {
    opacity: 1;
  }
}

.comments__item {
  width: 100%;
  display: flex;
  padding-left: 6vw;
  position: relative;
  box-sizing: border-box;
}

@media (max-width: $tablet-width-max) {
  .comments::after {
    top: 200px;
    background-position: 0 0;
  }

  .comments__item {
    padding-left: 0;
  }

  .comments__pagination {
    left: 435px;
  }

  .comments__btn-prev {
    left: 520px;
  }

  .comments__btn-next {
    left: 552px;
  }

  .comments__user-text {
    width: 100%;
    font-size: 15px;
    line-height: 130%;
  }

  .comments__item_wrapper {
    width: 100%;
    margin: 0;
    padding-right: 3vw;
    margin-left: auto;
  }

  .comments__user-program {
    width: 100%;
  }

  .comments__more {
    font-size: 15px;
    line-height: 130%;
  }

  .comments__social {
    right: 20px;
  }
}


@media (max-width: $mobile-width-max) {
  .comments {
    background: none;
    margin-bottom: 69px;

    &::after {
      width: 100%;
      height: 261px;
      background-position: 0 0;
      top: 525px;
      left: -3px;
    }
  }

  .comments h2 {
    width: 100%;
    text-align: center;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 25px;
  }

  .comments__item img {
    width: 240px;
    height: 320px;
    margin: 0 auto 58px;
    padding: 0;
  }

  .comments__item {
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    padding-left: 0;
  }

  .comments__pagination {
    width: auto;
    top: 328px;
    left: 50%;
    margin-left: -47px;
  }

  .comments__btn-next {
    left: 50%;
    top: 353px;
    margin-left: 39px;
  }

  .comments__btn-prev {
    left: 50%;
    top: 353px;
    margin-left: 11px;
  }

  .comments__user-text {
    width: 100%;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 21px;

    &:last-of-type {
      margin-bottom: 34px;
    }
  }

  .comments__user-program {
    width: 100%;
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 25px;
  }

  .comments__user-program_name {
    display: block;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
  }

  .comments__more {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 25px;
  }

  .comments__item_wrapper {
    width: 100%;
    padding: 0 5vw 9vw;
  }

  .comments__social {
    bottom: 0;
    left: 13px;
  }
}
