.conditions {
  display: flex;
  background: url("../img/watercolor_Bg-2.png") no-repeat 0;
  background-size: 1366px 1028px;
  position: relative;
  margin-bottom: 154px;

  // @media (min-resolution: $retina-dpi),
  // (min-resolution: $retina-dppx) {
  //   background-image: url("../img/watercolor_Bg2x-2.png");
  // }


  &::after {
    content: "";
    width: 337px;
    height: 354px;
    position: absolute;
    right: 0;
    top: 214px;
    background: url("../img/stamp.png") no-repeat;
    background-position-x: right;

    // @media (min-resolution: $retina-dpi),
    // (min-resolution: $retina-dppx) {
    //   background-image: url("../img/stamp2x.png");
    // }
  }
}

.conditions img {
  width: 43%;
  margin-left: 12px;
  object-fit: contain;
}

.conditions__container {
  width: 532px;
  margin-left: auto;
  margin-right: 135px;
  position: relative;
}

.conditions__title {
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.conditions__details {
  width: 480px;
  font-weight: normal;
  font-size: 15px;
  line-height: 170%;
  opacity: 0.87;
  margin-bottom: 35px;
}

.conditions__text {
  width: 460px;
  font-weight: 500;
  font-size: 17px;
  line-height: 170%;
  margin-bottom: 22px;
}

.conditions__list {
  list-style: none;
  padding-left: 44px;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  opacity: 0.87;
  counter-reset: myCounter;
  position: relative;
}

.conditions__item {
  width: 414px;
  margin-bottom: 45px;


  &::before {
    counter-increment: myCounter;
    content: counter(myCounter);
    font-weight: bold;
    font-size: 17px;
    line-height: 170%;
    color: $yellow;
    background: #fff;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
    padding: 4px 14px;
    border-radius: 50%;
    position: absolute;
    left: -14px;
  }

  &:first-of-type {
    margin-top: 10px;
  }

  &:last-of-type {
    margin-bottom: 33px;
  }
}

.conditions__ps {
  width: 520px;
  padding-left: 12px;
  opacity: 0.5;
  position: relative;
  border-left: 4px solid yellow;
}

@media (max-width: $tablet-width-max) {
  .conditions {
    background-size: 768px 514px;

    &::after {
      background-size: 168px 177px;
    }
  }

  .conditions__title {
    font-size: 30px;
  }

  .conditions img {
    width: 40%;
  }

  .conditions__container {
    width: 58%;
  }

  .conditions__details,
  .conditions__list,
  .conditions__ps {
    width: 100%;
    font-size: 13px;
    box-sizing: border-box;
  }

  .conditions__details {
    margin-bottom: 25px;
  }

  .conditions__text {
    width: 100%;
    margin-bottom: 17px;
    padding-left: 20px;
    font-size: 15px;
    box-sizing: border-box;
  }

  .conditions__list {
    padding-left: 65px;
  }

  .conditions__item {
    margin-bottom: 30px;
    position: relative;

    &::before {
      left: -52px;
      top: -9px;
    }

    &:last-of-type {
      margin-bottom: 20px;
    }
  }
}


@media (max-width: $mobile-width-max) {
  .conditions {
    width: 100%;
    background-image: none;
    margin-bottom: 65px;
    padding: 0 5vw;
    box-sizing: border-box;

    &::after {
      width: 264px;
      height: 199px;
      top: 277px;
      right: 0;
    }
  }

  .conditions img {
    display: none;
  }

  .conditions__title {
    width: 288px;
    margin: 0 auto 26px;
    text-align: center;
    letter-spacing: -0.02em;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
  }

  .conditions__details,
  .conditions__list,
  .conditions__ps {
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 160%;
    opacity: 0.87;
  }

  .conditions__text {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 22px;
  }

  .conditions__list {
    padding: 0;
  }

  .conditions__container {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .conditions__item {
    width: 100%;
    padding-left: 43px;
    margin-bottom: 60px;

    &::before {
      top: -4px;
      left: -8px;
    }
  }

  .conditions__ps {
    width: 100%;
    padding-left: 5px;
  }
}
