.conditions {
  background: url("../img/conditions-bg.png") no-repeat 0;
  background-size: 1366px 1028px;
  position: relative;
  margin-bottom: 154px;

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../img/conditions-bg2x.png");
  }


  &::after {
    content: "";
    width: 337px;
    height: 354px;
    position: absolute;
    right: 0;
    top: 214px;
    background: url("../img/stamp.png") no-repeat;
    background-position-x: right;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/stamp2x.png");
    }
  }
}

.conditions__wrapper {
  display: flex;
  position: relative;
}

.conditions__img {
  width: 43%;
  padding: 1px 0 0 12px;
  object-fit: contain;
}

.conditions__container {
  width: 532px;
  margin-left: auto;
  margin-right: 10%;
  position: relative;
}

.conditions h2 {
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.conditions__details {
  width: 480px;
  font-weight: normal;
  font-size: 15px;
  line-height: 170%;
  opacity: 0.87;
  margin-bottom: 35px;
}

.conditions__text {
  width: 460px;
  font-weight: 500;
  font-size: 17px;
  line-height: 170%;
  margin-bottom: 23px;
}

.conditions ol {
  list-style: none;
  padding-left: 44px;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  opacity: 0.87;
  counter-reset: myCounter;
  position: relative;
}

.conditions__elem {
  width: 414px;
  margin-bottom: 56px;
  position: relative;

  &::before {
    counter-increment: myCounter;
    content: counter(myCounter);
    font-weight: bold;
    font-size: 17px;
    line-height: 170%;
    color: $yellow;
    background: #fff;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
    padding: 4px 14px;
    border-radius: 50%;
    position: absolute;
    left: -60px;
  }

  &_first {
    margin-top: 10px;

    &::before {
      top: -8px;
    }
  }

  &_second {
    margin-bottom: 45px;

    &::before {
      top: -8px;
    }
  }

  &_third {
    margin-bottom: 38px;

    ::before {
      top: 2px;
    }
  }

  &_fourth {
    margin-bottom: 33px;

    &::before {
      top: -4px;
    }
  }
}

.conditions__ps {
  width: 520px;
  padding-left: 12px;
  opacity: 0.5;
  position: relative;
  border-left: 4px solid yellow;
  line-height: 140%;
}

@media (max-width: $tablet-width-max) {
  .conditions {
    background-size: 768px 514px;

    &::after {
      background-size: 168px 177px;
    }
  }

  .conditions__container {
    width: 48%;
    margin-top: 0;
    margin-right: 15px;
  }

  .conditions__wrapper {
    width: 768px;
  }

  .conditions h2 {
    font-size: 30px;
  }

  .conditions__img {
    padding-top: 105px;
    width: 40%;
  }

  .conditions__container {
    width: 58%;
  }

  .conditions__details,
  .conditions ol,
  .conditions__ps {
    width: 100%;
    font-size: 13px;
    box-sizing: border-box;
  }

  .conditions__details {
    margin-bottom: 23px;
  }

  .conditions__text {
    width: 100%;
    margin-bottom: 17px;
    padding-left: 20px;
    font-size: 15px;
    box-sizing: border-box;
  }

  .conditions ol {
    padding-left: 65px;
  }

  .conditions li {
    margin-bottom: 30px;
    position: relative;

    &::before {
      left: -52px;
      top: -9px;
    }

    &:last-of-type {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: $mobile-width-max) {
  .conditions {
    width: 100%;
    background-image: none;
    margin-bottom: 65px;
    padding: 0 5vw;
    box-sizing: border-box;

    &::after {
      width: 264px;
      height: 199px;
      top: 277px;
      right: 0;
    }
  }

  .conditions__img {
    display: none;
  }

  .conditions h2 {
    width: 288px;
    margin: 0 auto 25px;
    text-align: center;
    letter-spacing: -0.02em;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
  }

  .conditions__details,
  .conditions ol,
  .conditions__ps {
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 160%;
    opacity: 0.87;
  }

  .conditions__text {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 24px;
  }

  .conditions ol {
    padding: 0;
  }

  .conditions__container {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .conditions li {
    width: 100%;
    padding-left: 43px;
    margin-bottom: 60px;

    &::before {
      top: -4px;
      left: -8px;
    }
  }

  .conditions__ps {
    width: 100%;
    padding-left: 5px;
  }
}
