.gallery {
  background: url("../img/cynthia-magana-138943-unsplash.png") no-repeat 0 0;
  background-size: contain;
  padding: 88px 0 265px;

  // @media (min-resolution: $retina-dpi),
  // (min-resolution: $retina-dppx) {
  //   background-image: url("../img/cynthia-magana-138943-unsplash2x.png");
  // }
}

.gallery__title {
  width: 296px;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.02em;
  margin: 35px 275px 24px auto;
}

.gallery__text {
  width: 396px;
  font-weight: normal;
  font-size: 17px;
  line-height: 170%;
  color: #fff;
  opacity: 0.87;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
  padding-left: 4px;
  margin: 19px 173px 48px auto;
}

.gallery__button {
  display: block;
  box-sizing: border-box;
  width: 230px;
  margin: 0 338px 0 auto;
  background: $gradient;
  border-radius: 80px;
  padding: 20px 40px 20px 72px;
  position: relative;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;
  color: #ffffff;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
  border: none;

  &:active {
    background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(143.55deg, #FFC341 -50.3%, #FFD701 63.1%);
    ;
  }

  &::before {
    content: "";
    width: 23px;
    height: 23px;
    position: absolute;
    top: 18px;
    left: 41px;
    background: url("../img/icon-insta.svg") no-repeat 0 0;
  }
}

@media (max-width: $tablet-width-max) {
  .gallery {
    padding: 1px 0 65px;
    margin-bottom: 80px;
    background-size: cover;
  }

  .gallery__title {
    text-align: center;
    margin: 80px 75px 24px auto;

  }

  .gallery__text {
    padding: 0 24px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 160%;
    text-align: left;
    margin: 19px 0 48px auto;
  }

  .gallery__button {
    width: 264px;
    margin: 0 113px 0 auto;
    padding-left: 89px;

    &::before {
      left: 57px;
    }
  }
}

@media (max-width: $mobile-width-max) {
  .gallery {
    width: 100%;
    background-image: none;
    padding: 0;
    margin-bottom: 50px;
  }

  .gallery__title {
    width: 100%;
    margin: 0 auto;
  }

  .gallery__text {
    width: 100%;
    padding: 30vw 7vw 8vh;
    margin: 0 0 10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    opacity: 0.87;
    background: url("../img/cynthia-magana-138943-unsplash.png") no-repeat 0 0;
    background-size: cover;

    // @media (min-resolution: $retina-dpi),
    // (min-resolution: $retina-dppx) {
    //   background-image: url("../img/cynthia-magana-138943-unsplash2x.png");
    // }
  }

  .gallery__button {
    margin: 0 auto;
  }
}
