.life-in-Israel {
  background: url("../img/life-in-Israel-bg.png") no-repeat 0 -44px;
  background-size: 100% auto;
  position: relative;
  margin-bottom: 152px;

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../img/life-in-Israel-bg2x.png");
  }

  &::after {
    content: "";
    width: 124px;
    height: 148px;
    position: absolute;
    bottom: 90px;
    right: 0;
    background: url("../img/watch.png") no-repeat;
    background-position-x: right;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/watch2x.png");
    }
  }
}

.life-in-Israel h2 {
  width: 417px;
  margin: 0 auto 25px;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.02em;
}

.life-in-Israel p {
  width: 725px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 17px;
  line-height: 170%;
  text-align: right;
  opacity: 0.87;
}

.life-in-Israel__container {
  width: 100%;
  max-width: 1366px;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0 auto;
  position: relative;
  justify-content: center;
}

.life-in-Israel__left-side {
  width: 36%;
}

.life-in-Israel__right-side {
  width: 49%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 66px;
  justify-content: space-between;
  margin-left: 13px;
}

.life-in-Israel__wrapper {
  position: relative;
  padding-bottom: 53%;
}

.life-in-Israel__item p {
  width: auto;
  margin: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
  text-align: left;
  position: absolute;
}

.life-in-Israel__item {
  position: absolute;
  height: auto;

  &_first {
    width: 36%;
    top: -2.9%;
    left: 7.7%;
  }

  &_second {
    width: 15.6%;
    top: 6.6%;
    left: 44%;
  }

  &_third {
    width: 30%;
    top: 6.6%;
    left: 61.8%;
  }

  &_fourth {
    width: 30%;
    top: 55%;
    left: 44%;
  }

  &_fifth {
    width: 16%;
    top: 55%;
    left: 76.3%
  }

  &_first p {
    bottom: 39px;
    left: 39px;
  }

  &_second p {
    width: 10px;
    bottom: 42px;
    left: 27px;
  }

  &_third p {
    bottom: 40px;
    left: 30px;
  }

  &_fourth p {
    bottom: 42px;
    left: 32px;
  }

  &_fifth p {
    bottom: 43px;
    left: 24px;
  }
}

@media(max-width: $tablet-width-max) {
  .life-in-Israel {
    margin-bottom: 70px;
  }

  .life-in-Israel__wrapper {
    padding-bottom: 55%;
  }

  .life-in-Israel__item p {
    font-size: 15px;
    line-height: 19px;
    bottom: 20px;
    left: 15px;
  }
}

@media(max-width: $mobile-width-max) {
  .life-in-Israel {
    margin-bottom: 65px;
    background: none;

    &::after {
      background: none;
    }
  }

  .life-in-Israel__pagination .swiper-pagination-bullet {
    vertical-align: middle;
    width: 6px;
    height: 6px;
  }

  .life-in-Israel__pagination .swiper-pagination-bullet-active {
    background: $gradient;
    width: 8px;
    height: 8px;
  }

  .life-in-Israel__wrapper {
    padding: 0;
  }

  .life-in-Israel__container {
    padding-bottom: 43px;
  }

  .life-in-Israel h2 {
    width: 100%;
    text-align: center;
    font-size: 32px;
    line-height: 39px;
  }

  .life-in-Israel p {
    width: 100%;
    text-align: left;
    padding: 0 15px;
    box-sizing: border-box;
    font-style: normal;
    font-size: 16px;
    line-height: 160%;
    opacity: 0.87;
    margin-bottom: 32px;
  }

  .life-in-Israel img {
    display: block;
    margin: 0 auto;
    width: 265px;
    height: 397px;
    object-fit: cover;
    object-position: right;
  }

  .life-in-Israel__item p {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    width: 256px;
    bottom: -9px;
    left: 50%;
    margin-left: -128px;
  }

  .life-in-Israel__item {
    position: static;
  }

  .life-in-Israel__pagination {
    position: absolute;
    bottom: 4px;
    left: 11px;
  }
}
