.main-footer {
  border-top: 1px solid #484848;
}

.main-footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 23px 112px;
}

.main-footer ul {
  width: 112px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  opacity: .3;
  padding: 0;
  margin: 0;
}

.main-footer li {
  margin-right: 17px;

  &:nth-of-type(3n) {
    margin: 0;
  }
}

.main-footer p {
  width: 209px;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  opacity: 0.5;
  margin: 0;
  padding: 0;
}

@media (max-width: $mobile-width-max) {
  .main-footer__container {
    padding: 32px 0 20px;
  }

  .main-footer__img {
    margin: 0 auto 21px;
  }

  .main-footer p {
    width: 100%;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    opacity: 0.5;
  }

  .main-footer ul {
    width: 136px;
    margin: 29px auto 0;
  }

  .main-footer ul svg {
    width: 32px;
    height: 32px;
  }
}
