.order {
  position: relative;
  padding-top: 233px;
  margin-bottom: 290px;

  &::before {
    content: "";
    width: 167px;
    height: 226px;
    position: absolute;
    top: 158px;
    left: 0px;
    background: url("../..//img/backpack.png") no-repeat;
  }

  &::after {
    content: "";
    width: 818px;
    height: 594px;
    position: absolute;
    right: 0px;
    top: 23px;
    background: url("../../img/girl-flag-bg.png") no-repeat;
    z-index: -1;
  }
}

.order__title {
  margin: 0 0 23px 210px;
  letter-spacing: -0.02em;
}

.order__text {
  width: 400px;
  margin: 0 0 65px 210px;
  font-size: 17px;
  line-height: 170%;
}

.order__user-tel {
  width: 312px;
  margin-left: 210px;
  padding: 20px 145px 20px 38px;
  border: 2px solid #E3E3E3;
  box-sizing: border-box;
  border-radius: 80px;

  &::placeholder {
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    font-variant: small-caps;
    opacity: 0.5;
  }
}

.order__submit {
  position: absolute;
  padding: 19px 38px 20px;
  width: 219px;
  left: 470px;
  bottom: 0px;
  background: $gradient;
  border-radius: 80px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  z-index: 5;
  border: none;
}

@media (max-width: $tablet-width-max) {
  .order {
    margin-bottom: 115px;
  }

  .order__title,
  .order__text,
  .order__user-tel {
    margin-left: 110px;
  }

  .order__text {
    margin-bottom: 125px;
  }

  .order__submit {
    left: 370px;
  }

  .order {
    padding-top: 90px;


    &::before {
      top: 78px;
    }

    &::after {
      width: 500px;
      height: 370px;
      top: 68px;
      background-size: 500px;
    }
  }
}

@media (max-width: $mobile-width-max) {
  .order {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 80px;
    margin-bottom: 387px;

    &::before {
      width: 120px;
      height: 162px;
      top: 34px;
      left: -12px;
      background-size: 120px 162px;
    }

    &::after {
      width: 424px;
      height: 308px;
      top: 370px;
      left: 50%;
      margin-left: -212px;
      background-size: cover;
    }
  }

  .order__title {
    width: 286px;
    margin: 0 auto 23px;
    text-align: center;
  }

  .order__text {
    width: 100%;
    margin: 0 0 28px;
    padding: 0 1em;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    opacity: 0.87;
  }

  .order__user-tel {
    width: 287px;
    margin: 0 auto 9px;
    padding: 20px 145px 18px 38px;
    flex-grow: 1;
  }

  .order__submit {
    width: 264px;
    position: static;
    margin: 0 auto;
    flex-grow: 0;
  }
}
