.order {
  position: relative;
  padding-top: 219px;
  margin-bottom: 290px;


  &::before {
    content: "";
    width: 167px;
    height: 226px;
    position: absolute;
    top: 158px;
    left: 0px;
    background: url("../img/backpack.png") no-repeat;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/backpack2x.png");
    }
  }
}

.order__container {
  padding-left: 210px;
  position: relative;
}

.order__img {
  width: 818px;
  height: 594px;
  position: absolute;
  right: 0;
  bottom: -131px;
  z-index: -1;
}

.order h2 {
  margin: 0 0 25px;
  letter-spacing: -0.02em;
}

.order p {
  width: 400px;
  margin: 0 0 65px;
  font-size: 17px;
  line-height: 170%;
}

.order__form label {
  background-image: $gradient;
  display: flex;
  align-items: flex-start;
  width: 312px;
  border-radius: 80px;
}

.order__form input {
  border: 2px solid #E3E3E3;
  padding: 0 50px 0 38px;
  margin: 0;
  height: 55px;
  width: 100%;
  border-radius: 80px;

  &:focus {
    background-clip: padding-box;
    border-color: transparent;
  }

  &:invalid:not(:placeholder-shown) {
    border: 2px solid #FF0000;
  }

  &:valid:not(:placeholder-shown) {
    border: 2px solid #484848;
  }

  &::placeholder {
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    font-variant: small-caps;
    opacity: 0.5;
  }
}

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {

  .order__form input::-ms-clear,
  .order__form input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
}

.order__form {
  position: relative;
}

.order__form button {
  position: absolute;
  padding: 20px 0;
  width: 216px;
  box-sizing: border-box;
  left: 261px;
  bottom: 0px;
  background: $gradient;
  border-radius: 80px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  z-index: 5;
  border: none;
  cursor: pointer;

  &:active {
    background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(143.55deg, #FFC341 -50.3%, #FFD701 63.1%);
    ;
  }
}

@media (max-width: $tablet-width-max) {
  .order {
    padding-left: 0;
    margin-bottom: 115px;
  }

  .order__container {
    width: 767px;
    padding: 0;
  }

  .order h2,
  .order p,
  .order__form label {
    margin-left: 110px;
  }

  .order p {
    margin-bottom: 125px;
  }

  .order__form button {
    left: 370px;
  }

  .order {
    padding-top: 90px;


    &::before {
      top: 78px;
    }

    &::after {
      width: 500px;
      height: 370px;
      top: 68px;
      background-size: 500px;
    }
  }

  .order__img {
    width: 508px;
    height: 397px;
    bottom: -77px;
  }
}

@media (max-width: $mobile-width-max) {
  .order {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 79px 0 0;
    margin-bottom: 72px;

    &::before {
      width: 120px;
      height: 162px;
      top: 34px;
      left: -12px;
      background-size: 120px 162px;
    }
  }

  .order__container {
    width: 100%;
  }

  .order__img {
    width: 100%;
    height: auto;
    bottom: 1px;
    position: relative;
  }

  .order img {
    display: block;
    margin: 0 auto;
    width: 424px;
    height: 308px;
    object-fit: cover;
  }

  .order h2 {
    width: 286px;
    margin: 0 auto 24px;
    text-align: center;
  }

  .order p {
    width: 100%;
    margin: 0 0 27px;
    padding: 0 5%;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    opacity: 0.87;
    box-sizing: border-box;
  }

  .order__form label {
    width: 287px;
    margin: 0 auto 8px;
  }

  .order__form input {
    padding: 0 39px;
  }

  .order__form button {
    width: 264px;
    position: static;
    margin: 0 auto;
  }

  .order__form {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
