.order {
  position: relative;
  padding-top: 233px;

  &::before {
    content: "";
    width: 167px;
    height: 226px;
    position: absolute;
    top: 20px;
    left: -14px;
    background: url("../..//img/backpack.png") no-repeat;
    transform: rotate(15deg);
  }

  &::after {
    content: "";
    width: 818px;
    height: 594px;
    position: absolute;
    right: 0px;
    top: 23px;
    background: url("../../img/girl-flag-bg.png") no-repeat;
  }
}

.order__title {
  margin: 0 0 23px 210px;
  letter-spacing: -0.02em;
}

.order__text {
  width: 400px;
  margin: 0 0 65px 210px;
  font-size: 17px;
  line-height: 170%;
}

.order__user-tel {
  width: 312px;
  margin-left: 210px;
  padding: 25px 145px 20px 38px;
  border: 2px solid #E3E3E3;
  box-sizing: border-box;
  border-radius: 80px;

  &::placeholder {
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    font-variant: small-caps;
    opacity: 0.5;
  }
}

.order__submit {
  position: absolute;
  padding: 19px 38px 20px;
  width: 219px;
  left: 470px;
  bottom: 0px;
  background: $gradient;
  border-radius: 80px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  z-index: 5;
}
