.page-main {
  flex-grow: 1;
  position: relative;
}

@media(max-width: $tablet-width-max) {
  .page-main h2 {
    font-size: 30px;
    line-height: 39px;
  }
}

@media(max-width: $mobile-width-max) {
  .page-main h1 {
    width: 288px;
    top: -4.1%;
    left: 50%;
    margin-left: -144px;
    bottom: 40.3%;
    font-size: 20px;
    line-height: 24px;
  }
}

.page-main h2 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: $blue;
  font-size: 32px;
  letter-spacing: -0.02em;
}
