.page-main {
  flex-grow: 1;
  position: relative;
}

.page-main h1 {
  width: 345px;
  margin: 0 auto;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
  position: absolute;
  top: -5.1%;
  left: 50%;
  margin-left: -171.5px;
  text-align: center;
}

@media(max-width: $tablet-width-max) {
  .page-main h1 {
    width: 300px;
    font-size: 20px;
    line-height: 25px;
    margin-left: -150px;
  }
}

@media(max-width: $mobile-width-max) {
  .page-main h1 {
    width: 288px;
    top: -4.1%;
    left: 50%;
    margin-left: -144px;
    bottom: 40.3%;
    font-size: 20px;
    line-height: 24px;
  }
}

.page-main h2 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: $blue;
}

@media(max-width: $tablet-width-max) {
  .page-main h2 {
    font-size: 30px;
    line-height: 39px;
  }
}

@media(max-width: $mobile-width-max) {
  .page-main h2 {
    font-size: 32px;
    letter-spacing: -0.02em;
  }
}
