  .page-header {
    padding-top: 45px;
    padding-bottom: 59.1%;
    position: relative;
    background: url("../img/header-bg.png") no-repeat 0 0;
    background-size: 100% auto;
    box-sizing: border-box;
    flex-grow: 1;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/header-bg2x.png");
    }
  }

  .page-header__nav {
    width: 100%;
    padding-left: 110px;
    padding-right: 117px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
  }

  .page-header__btn {
    content: "";
    width: 76px;
    height: 14.7%;
    max-height: 131.5px;
    position: absolute;
    bottom: 15%;
    left: 50%;
    margin-left: -37px;
    background-image: url("../img/header-scroll-down.png");
    background-repeat: no-repeat;

    &:hover {
      opacity: .7;
    }
  }

  .page-header__nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: $black;
    position: relative;
  }

  .page-header__nav_logo {
    order: 2;
    margin-top: -13px;
    margin-left: -19px;
  }

  .page-header__nav a {
    color: $black;

    &:hover {
      color: $yellow;
    }
  }

  .page-header__nav_call {
    font-variant: small-caps;
    order: 3;
  }

  .page-header__nav_call a {
    border-bottom: 1px dashed $black;

    &:hover {
      border-bottom-color: $yellow;
    }
  }

  .page-header h1 {
    width: 345px;
    margin: 0 auto;
    font-family: "Fira Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
    position: absolute;
    bottom: 33.1%;
    left: 50%;
    margin-left: -171.5px;
    text-align: center;
  }

  @media(max-width: $tablet-width-max) {
    .page-header {
      width: 100%;
      margin: 0 auto;
      padding-top: 23px;
    }

    .page-header h1 {
      width: 300px;
      font-size: 20px;
      line-height: 25px;
      margin-left: -150px;
      bottom: 38%;
    }

    .page-header__nav {
      width: 100%;
      padding: 0 50px;

      &::after {
        width: 750px;
        left: 0.5%;
      }
    }

    .page-header__nav ul::before {
      left: 46%;
    }

    .page-header__nav ul::after {
      left: 44.5%;
    }

    .page-header__btn {
      bottom: 12%;
      height: 25.7%;
    }
  }

  @media (max-width: $mobile-width-max) {
    .page-header {
      width: 100%;
      padding: 20px 0 546px;
      background-image: url("../img/header-bg-mob.png");
      background-size: cover;
      background-position: center 30px;
      margin-bottom: 24px;

      @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
        background-image: url("../img/header-bg-mob2x.png");
      }
    }

    .page-header__nav li {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      text-align: right;
      text-align: right;
    }

    .page-header h1 {
      bottom: 36.7%;
    }

    .page-header__nav {
      min-width: $mobile-width;
      padding: 0;
      padding-right: 9px;

      &_tel {
        width: auto;
        margin-bottom: 8px;
        white-space: nowrap;
        order: 2;
      }

      &_call {
        width: auto;
        margin-left: auto;
      }

      &_logo {
        width: 120px;
        height: 42px;
        order: 1;
        position: absolute;
        top: 13px;
        left: 35px;
      }
    }

    .page-header__nav ul {
      width: 100%;
      flex-direction: column;

      &::before {
        top: 405px;
        left: -38%;
      }

      &::after {
        top: 395px;
        left: -46%;
      }
    }

    .page-header__nav_call a {
      padding-right: 1px;
    }

    .page-header__btn {
      bottom: 10%;
      margin-left: -38px;
    }
  }
