  .page-header {
    padding-top: 45px;
    padding-bottom: 60%;
    position: relative;
    background: url("../img/header-bg.png") no-repeat 0 0;
    background-size: 100% auto;
    box-sizing: border-box;
    flex-grow: 1;
  }

  .page-header__logo {
    position: absolute;
    top: 32px;
    left: 44.8%;
  }

  .page-header__nav {
    width: 100%;
    padding-left: 110px;
    padding-right: 117px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
  }

  .page-header__nav ul {
    padding: 0;
    margin: 0;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: $black;
    position: relative;

  }

  .page-header__nav a {
    color: $black;
  }

  .page-header__nav_call {
    border-bottom: 1px dashed $black;
  }

  @media(max-width: $tablet-width-max) {
    .page-header {
      width: 100%;
      margin: 0 auto;
      padding-top: 23px;
    }

    .page-header__nav {
      width: 100%;
      padding: 0 50px;

      &::after {
        width: 750px;
        left: 0.5%;
      }
    }

    .page-header__logo {
      top: 6px;
    }

    .page-header__nav ul::before {
      left: 46%;
    }

    .page-header__nav ul::after {
      left: 44.5%;
    }
  }

  @media (max-width: $mobile-width-max) {
    .page-header {
      width: 100%;
      padding: 20px 0 546px;
      background-image: url("../img/header-bg-mob.png");
      background-size: cover;
      background-position: center 30px;
      margin-bottom: 24px;
    }

    .page-header__logo {
      width: 120px;
      height: 42px;
      top: 20px;
      left: 16px;
    }

    .page-header__nav {
      min-width: $mobile-width;
      padding: 0;
      padding-right: 9px;

      &_tel {
        margin-bottom: 9px;
        white-space: nowrap;
      }

      &_call {
        width: 108px;
        margin-left: auto;
      }
    }

    .page-header__nav ul {
      width: 130px;
      flex-direction: column;

      &::before {
        top: 405px;
        left: -38%;
      }

      &::after {
        top: 395px;
        left: -46%;
      }
    }

    .page-header__nav li {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      text-align: right;
      text-align: right;
    }
  }
