.programs {
  min-width: $desktop-width;
  padding-top: 40px;
  margin: 0 auto;
  background: url("../img/sketch_Bg.png") no-repeat;
  background-position: top right;
}

.programs__container {
  display: flex;
  flex-wrap: wrap;
}

.programs__title {
  width: 100%;
  margin: 0 0 75px;
  padding-left: 36px;

}

.programs__control {
  width: 230px;
  margin-right: 64px;
  padding-left: 39px;
  display: flex;
  flex-wrap: wrap;
}

.programs__label {
  width: 228px;
  padding: 25px 41px 24px 72px;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: 17px;
    left: 20px;
  }

  &--academic::before {
    width: 36px;
    height: 35px;
    background-image: url("../img/noun_582688_cc.png");
  }


}

.programs__current-label {
  font-weight: 500;
  color: #ffffff;
  line-height: 19px;
  background: url("../../img/Rectangle.png");
  z-index: 0;


}

.programs__list {
  width: 600px;
  margin: 0;
  padding: 12px 0 0;
}

.programs__item {
  display: none;

  &--current {
    display: block;
  }
}

.programs_item--title {
  text-transform: none;
  font-size: 28px;
  line-height: 34px;
  margin: 0;
  margin-bottom: 24px;
}

.programs__item--description {
  width: 550px;
  font-weight: normal;
  font-size: 15px;
  line-height: 170%;
}
