.programs {
  width: 100%;
  padding-top: 40px;
  margin: 0 auto;
  background: url("../img/sketch_Bg.png") no-repeat;
  background-position: top right;

  // @media (min-resolution: $retina-dpi),
  // (min-resolution: $retina-dppx) {
  //   background-image: url("../img/sketch2x.png");
  // }
}

.programs__container {
  display: flex;
  flex-wrap: wrap;
}

.programs h2 {
  width: 100%;
  margin: 0 0 75px;
  padding-left: 36px;

}

.programs__control {
  width: 230px;
  height: fit-content;
  margin-right: 64px;
  padding-left: 39px;
  display: flex;
  flex-wrap: wrap;
}

.programs__btn {
  width: 228px;
  padding: 19px 26px 28px 72px;
  margin-bottom: 6px;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
}

.programs__btn svg {
  position: absolute;
  top: 15px;
  left: 23px;
  z-index: 10;
}

.programs__current-btn {
  position: relative;
  font-weight: 500;
  color: #ffffff;
  line-height: 19px;
  background: url("../img/icon-rectangle.svg") no-repeat;

  &:focus {
    outline: none;
  }
}

.programs__current-btn svg {
  fill: #ffffff;
}

.programs ul {
  width: 600px;
  margin: 0;
  padding: 12px 0 0;
}

.programs li {
  display: none;
}

.programs li.programs__current-item {
  display: block;
}

.programs h3 {
  text-transform: none;
  font-size: 28px;
  line-height: 34px;
  margin: 0;
  margin-bottom: 24px;
}

.programs p {
  width: 550px;
  font-weight: normal;
  font-size: 15px;
  line-height: 170%;
}

@media (max-width: $tablet-width-max) {
  .programs ul {
    width: 415px;
  }

  .programs h2 {
    margin-bottom: 45px;
  }

  .programs p {
    font-size: 15px;
    width: 100%;
  }

  .programs__control {
    padding: 0;
    margin: 0;
    margin-right: 20px;
  }

  .programs__current-btn {
    padding-top: 23px;
  }
}

@media(max-width: $mobile-width-max) {
  .programs {
    padding-top: 14px;
  }

  .programs__container {
    width: 100%;
  }

  .programs p {
    width: 100%;
    font-size: 14px;
    line-height: 160%;
    margin: 0 0 15px;

    &:last-of-type {
      margin: 0;
    }
  }

  .programs h3 {
    width: 205px;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.02em;
    background-image: none;
    margin-bottom: 17px;
    font-weight: bold;
  }

  .programs__control {
    width: 100%;
    height: auto;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    overflow-x: scroll;
    padding-bottom: 20px;
    margin-bottom: -20px;
  }

  .programs__btn {
    width: 100%;
    font-size: 15px;
    line-height: 18px;
    margin: 0;
    padding: 18px 0 14px 24px;
    margin-right: 17px;
    opacity: 0.87;
    vertical-align: middle;
    box-sizing: content-box;

    & svg {
      top: 11px;
      left: -8px;
    }
  }

  .programs__current-btn {
    width: 181px;
    box-sizing: border-box;
    background: $gradient;
    font-weight: 500;
    font-size: 16.1788px;
    line-height: 19px;
    font-variant: normal;
    font-variant: small-caps;
    border-radius: 60px;
    font-weight: 500;
    padding: 15px 31px 14px 45px;

    & svg {
      top: 11px;
      left: 8px;
    }
  }

  .programs h2 {
    width: 288px;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 16px;
  }

  .programs ul {
    width: 100%;
  }

  .programs li {
    width: 100%;
    padding: 20px 5vw 0;
    box-sizing: border-box;

    &_title {
      margin-bottom: 17px;
    }
  }
}
