.programs {
  width: 100%;
  padding-top: 40px;
  margin: 0 auto;
  background: url("../img/programs-bg.png") no-repeat;
  background-position: top right;

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../img/programs-bg2x.png");
  }
}

.programs__container {
  display: flex;
  flex-wrap: wrap;
  width: 1024px;
}

.programs h2 {
  width: 100%;
  margin: 0 0 75px;
  padding-left: 36px;

}

.programs__control {
  width: 230px;
  height: fit-content;
  margin-right: 62px;
  padding-left: 39px;
  display: flex;
  flex-wrap: wrap;
}

.programs__btn {
  width: 228px;
  margin-bottom: 3px;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;

  &_common {
    padding: 15px 26px 28px 73px;

    & svg {
      top: 10px;
      left: 24px;
    }
  }

  &_academic {
    padding: 25px 26px 28px 71px;

    & svg {
      top: 13px;
      left: 20px;
    }
  }

  &_internship {
    padding: 21px 26px 28px 71px;

    & svg {
      top: 14px;
      left: 21px;
    }
  }

  &_volunteering {
    padding: 23px 26px 28px 71px;

    & svg {
      top: 19px;
      left: 21px;
    }
  }

  &_religious {
    padding: 23px 26px 28px 71px;

    & svg {
      top: 20px;
      left: 26px;
    }
  }
}

.programs__btn svg {
  position: absolute;
  z-index: 10;
}

.programs__current-btn {
  position: relative;
  font-weight: 500;
  color: #ffffff;
  line-height: 19px;
  font-size: 16px;
  text-transform: lowercase;
  font-variant: small-caps;

  color: #FFFFFF;

  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
  background: url("../img/icon-rectangle.svg") no-repeat;

  &:focus {
    outline: none;
  }
}

.programs__current-btn svg {
  fill: #ffffff;
}

.programs ul {
  width: 600px;
  margin: 0;
  padding: 9px 0 0;
}

.programs li {
  display: none;
}

.programs li.programs__current-item {
  display: block;
}

.programs h3 {
  text-transform: none;
  font-size: 28px;
  line-height: 34px;
  margin: 0;
  margin-bottom: 24px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  color: $blue;
}

.programs p {
  width: 550px;
  font-weight: normal;
  font-size: 15px;
  line-height: 170%;
  margin-bottom: 19px;
}

@media (max-width: $tablet-width-max) {
  .programs__container {
    width: 768px;
    padding: 0 5%;
  }

  .programs ul {
    width: 415px;
  }

  .programs h2 {
    margin-bottom: 45px;
  }

  .programs p {
    font-size: 15px;
    width: 100%;
  }

  .programs__control {
    padding: 0;
    margin: 0;
    margin-right: 20px;
  }

  .programs__current-btn {
    padding-top: 23px;
  }
}

@media(max-width: $mobile-width-max) {
  .programs {
    padding-top: 14px;
  }

  .programs__container {
    width: 100%;
    padding: 0;
  }

  .programs p {
    width: 100%;
    font-size: 14px;
    line-height: 160%;
    margin: 0 0 15px;

    &:last-of-type {
      margin: 0;
    }
  }

  .programs h3 {
    width: 205px;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.02em;
    background-image: none;
    margin-bottom: 17px;
    font-weight: bold;
  }

  .programs__control {
    width: 100%;
    height: auto;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    overflow-x: scroll;
    padding-bottom: 20px;
    margin-bottom: -20px;
  }

  .programs__btn {
    width: 100%;
    font-size: 15px;
    line-height: 18px;
    margin: 0;
    padding: 18px 0 14px 24px;
    margin-right: 17px;
    opacity: 0.87;
    vertical-align: middle;
    box-sizing: content-box;

    & svg {
      top: 11px;
      left: -8px;
    }
  }

  .programs__current-btn {
    width: 181px;
    box-sizing: border-box;
    background: $gradient;
    font-weight: 500;
    font-size: 16.1788px;
    line-height: 19px;
    font-variant: normal;
    font-variant: small-caps;
    border-radius: 60px;
    font-weight: 500;
    padding: 11px 9px 14px 50px;

    & svg {
      top: 4px;
      left: 8px;
    }
  }

  .programs h2 {
    width: 288px;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 16px;
  }

  .programs ul {
    width: 100%;
    padding-top: 10px;
  }

  .programs li {
    width: 100%;
    padding: 20px 5vw 0;
    box-sizing: border-box;

    &_title {
      margin-bottom: 17px;
    }
  }
}
