.questions {
  background: url("../img/questions-bg.png") no-repeat 0 0;
  background-size: 100% auto;
  position: relative;
  padding: 35px 0 96px 110px;
  margin-bottom: 29px;


  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../img/questions-bg2x.png");
  }

  &::before {
    content: "";
    width: 194px;
    height: 177px;
    position: absolute;
    bottom: 85px;
    left: 0;
    background: url("../img/bag.png") no-repeat 0 0;
    z-index: -1;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/bag2x.png");
    }
  }
}

.questions__container {
  display: flex;
  justify-content: space-between;
}

.questions h2 {
  width: 100%;
  letter-spacing: -0.02em;
  margin: 0 0 48px;
}

.questions ol {
  width: 100%;
  counter-reset: myCounter;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.questions__item {
  width: 91%;
  padding-bottom: 11px;
  margin-bottom: 35px;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 3px;
    background-color: $black;
    opacity: 0.2;
  }
}

.questions__current-item .questions__answer {
  display: block;
}

.questions__current-item .questions__text::after {
  background: url("../img/icon-up.svg") no-repeat;
}

.questions__wrapper-left {
  width: 50%;
}

.questions__wrapper-right {
  width: 52%;
  padding-top: 3px;
}

.questions__text {
  width: 100%;
  padding-left: 30px;
  padding-right: 130px;
  font-size: 17px;
  line-height: 150%;
  margin-bottom: 25px;
  position: relative;
  box-sizing: border-box;

  &::before {
    counter-increment: myCounter;
    content: counter(myCounter);
    width: 13px;
    height: 48px;
    font-weight: bold;
    font-size: 28px;
    line-height: 170%;
    color: $yellow;
    position: absolute;
    top: -15px;
    left: 0;
  }

  &::after {
    content: "";
    width: 17px;
    height: 11px;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 36px;
    background: url("../img/icon-down.svg") no-repeat;
    cursor: pointer;
  }
}

.questions__item_fifth {
  padding-bottom: 1px;
  margin-bottom: 36px;
}

.questions__item_sixth {
  padding-bottom: 2px;
  margin-bottom: 0;
}

.questions__item_fifth .questions__text::after,
.questions__item_sixth .questions__text::after {
  top: 24%;
}

.questions__answer {
  display: none;
  width: 100%;
  font-size: 15px;
  line-height: 140%;
  opacity: 0.74;
  margin-bottom: 25px;
  padding-right: 13%;
  box-sizing: border-box;

}

@media(max-width: $tablet-width-max) {
  .questions {
    padding-bottom: 20px;
    padding-left: 0;
  }

  .questions__container {
    width: 768px;
    padding-left: 5%;
  }

  .questions__wrapper-right {
    padding-top: 13%;
  }

  .questions__text {
    font-size: 15px;
    line-height: 140%;
    margin-bottom: 15px;
    padding-right: 60px;
  }

  .questions__answer {
    font-size: 13px;
    line-height: 130%;
  }

  .questions__item {
    width: 360px;
    margin-bottom: 30px;

    &::before {
      width: 380px;
    }
  }
}

@media (max-width: $mobile-width-max) {
  .questions {
    width: 100%;
    padding: 0 10px;
    background: none;
    box-sizing: border-box;
    margin-bottom: 46px;

    &::before {
      left: -7px;
      bottom: 111px;
    }
  }

  .questions__container {
    width: 100%;
  }

  .questions__wrapper-right {
    display: none;
  }

  .questions__wrapper-left {
    width: 100%;
  }

  .questions h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 38px;
  }

  .questions__text {
    width: 100%;
    padding-right: 35px;
    padding-left: 31px;
    font-size: 16px;
    line-height: 160%;
    box-sizing: border-box;
    margin-bottom: 15px;

    &::before {
      top: -14px;
      left: 6px;
    }

    &::after {
      top: 35%;
      right: 5px;
    }
  }

  .questions__item {
    width: 100%;

    &::before {
      width: 100%;
    }

    &_first {
      margin-bottom: 35px;
      padding-bottom: 6px;
    }

    &_second {
      margin-bottom: 34px;
      padding-bottom: 14px;
    }

    &_third {
      padding-bottom: 15px;
      margin-bottom: 34px;
    }

    &_fourth {
      padding-bottom: 14px;
      margin-bottom: 33px;
    }

    &_fifth {
      padding-bottom: 8px;
      margin-bottom: 33px;
    }

    &_sixth {
      padding-bottom: 10px;
    }
  }

  .questions__current-item .questions__answer {
    padding: 4px 30px 0 6px;
    margin-bottom: 4px;
  }

  .questions__answer {
    width: 100%;
    font-size: 14px;
    line-height: 160%;
    text-align: left;
    opacity: 0.74;
  }

  .questions ol {
    width: 100%;
  }
}
