.success-modal {
  padding: 216px 60px 94px;
  position: fixed;
}

.success-modal h3 {
  width: 233px;
  margin: 0 auto 17px;

  &::before {
    content: "";
    width: 71px;
    height: 64px;
    position: absolute;
    top: 120px;
    left: 206px;
    background-image: url("../img/ok-checkmark.svg");
  }
}

.success-modal p {
  text-align: center;
}

.success-modal__main-btn {
  cursor: pointer;
}

@media(max-width: $mobile-width-max) {
  .success-modal {
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    padding: 296px 0 200px;
  }

  .success-modal h3 {
    margin-bottom: 17px;
    text-align: center;

    &::before {
      top: 200px;
      left: 50%;
      margin-left: -33px;
    }
  }

  .success-modal p {
    padding: 0;
    margin-bottom: 31px;
  }

  .success-modal__close {
    top: 24px;
    right: 24px;
  }
}
