@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/Fira_Sans/FiraSans-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: url("fonts/Fira_Sans/FiraSans-Medium.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  box-sizing: border-box;
  position: relative;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
